@font-face {
    font-family: Radon;
    src: url(./fonts/MonaspaceRadon-Light.woff),
}

a,
a:visited {
    color: #ff007f;
    text-decoration: none;
}

a:active {
    color: #890044;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url(./images/bg3.png);
    color: #36454f;
    font-family: Radon, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;    
}

button {
    background-color: transparent;
    border: none;    
    font-family: Radon, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

button:hover {
    color: #ff007f;
    cursor: pointer;
    text-decoration: underline;
}

footer p {
    margin: 0 auto;
    text-align: center;
    width: 75%;    
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
}

#messages {
    font-size: 1.7rem;
}

#play-again {
    align-items: center;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

#player-one-name,
#player-two-name {
    font-size: 1.3rem;
}

#player-one-score,
#player-two-score {
    font-size: 1.7rem;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}

span {
    color: #ff007f;
    font-size: 2rem;
}


table {
    border-collapse: collapse;
}

td {
    font-size: 4rem;
    height: 100px;
    text-align: center;
    width: 100px;
}

td + td { 
    border-left: 3px solid #3d3d3d; 
}

tr + tr { 
    border-top: 3px solid #3d3d3d; 
}