body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}

table {
    margin-bottom: 20vh;
}

td {
    background-color: pink;
    font-size: 2rem;
    height: 100px;
    text-align: center;
    width: 100px;
}